<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/PracticeSeesh/src/com/kodwala/construstors/Payment.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.debug.core.terminate.timestamp" value="1790308624043"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.kodwala.construstors.Payment"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="PracticeSeesh"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="PracticeSeesh"/>
</launchConfiguration>
